body {margin : 2cm; background : yellow; font-family : verdana, font-size: 12px; color: blue}

a {font-weight : bold; font-style : italics; text-decoration:none}

#ZoneAjax {border-width : 1px; border-color:red;border-style:inset; color:green}