
@page{
	min-height: 1000px;
}
/*aside {
	width: 150px;
	border-right-width: 10px;
	text-align: center;
	font-family: times roman;
	color: #483D8B;
	background-color: gray;
	height: 100%;
}*/
table{
	/*padding-top: 250px;*/
	/*margin-top: 250px;*/
	width: 100%;
}
td {
	background-color: white;
	border-color: red;
}
hr{
	border-color: red;
}
.main{
	min-height: 200px;
}
.main tr {
	height: 50px;
}
.tab{
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 200px
}
.side{
	width: 200px;
	background-color: #7FFFD4;
}
.aside{
	/*width: 150px;*/

	max-width: 300px;
	/*padding: 20px;*/
    border-color: red;

	text-align: center;
	font-family: times roman;
	color: #483D8B;
	height: 100%;
}.aside a{
	color: black;
	text-decoration-line: none;
}
.aside a:hover
{
	color: blue;
}
.main {
	font-family: times roman;
	color: #483D8B;
	height: 100%;
	/*padding: 15*/

	margin-left: 50px
/*	width:100%;*/
}
.footer {
	text-align: center;
	color: red;
}
.date{
	background-color: #8B0000;
	min-height: : 10px;
	color:white;
}
.title{
	/*display: inline-block;*/
	/*margin: 60px;*/
	margin-left: 200px;
	/*margin-right:200px;*/
}
/*.main h1{

}*/
.main a{
	color: black;
	text-decoration-line: none;
}
.main a:hover
{
	color: blue;
}
.header{
	background-color: white;
	color: green;
	position: relative;
	width: 100%;
	padding-top:10px;
	padding-bottom:10px;
	height: 90px
}
.header .headercontent{
	width: 100%;
	margin: left;
}
.userdata{
	/*padding:50px;*/
}
.maintr{
	/*padding: 50px;*/
}
h2{
	
}
 img{
	min-height: 100px;
	width: 90px;
	float: left;
	margin-right: 3px;
	margin-left: 10px;
	background-color: white ;
}