.main {
	height: 400px;
	text-align: center;
	align-content: center;
}

h1{
	padding-top: 25px;
	padding-bottom: 25px;

}
.txt{
	background-image: "";
	background-color: grey;
	padding :150px;
}
.top{
	color: green;
}
.top span{
	font-weight: bold;

}

.left{
	background-color: rgb(172, 27,0);
	color: white;
}
.left a{
	color: skyblue;
}
.footer{
	color:red;
	font-size: 14px;
}